*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f4f4f4;
    color: #333;
    background-image: url("images\ \(7\).jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* Menu */

header{
    background-color: #333;
    color: #333;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
}

.logo{
    color:white;
}

.menu{
    display:flex;
    list-style:none;
    gap:20px;
}

.menu a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.menu a:hover{
    color:white;
}

/* Accueil */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:url("images\ \(7\).jpeg");
    background-size:cover;
    background-position:center;
    color:white;
}

.hero h1{
    font-size:3rem;
}

.hero span{
    color:white;
}

.hero p{
    margin:15px 0;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:green;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

/* Sections */

section{
    padding:80px 10%;
    color: black;
}

section h2{
    text-align:center;
    margin-bottom:30px;
    background-color: green;
}

/* Cartes */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    ;
}

.card{
    background: green;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 0.9);
    color:#333
}

/* Pied de page */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

/* Responsive */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    .menu{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:2rem;
    }
    .apropos-card{
        font-size: 0.95rem;
    }
}
#apropos{
    padding: 80px 20px;
}
.apropos-card{
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 1.8;
}
.photo-profil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}